<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="icon" href="../../../../client/vanilla/idolworldcup_vanilla/src/fruitPicture/apple.jpg" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/post">
        <button>REQ</button><br>
    </a>
    <a href="/reqlist">
        <button>VIEW</button><br>
    </a>
    <a href="/login">
        <button>login</button>
    </a>
</body>

</html>